.activityiconcontainer.custom-module-icon {
    background-color: transparent;
}
.activityiconcontainer.smaller.custom-module-icon img {
    height: 40px !important;
    width: 40px !important;
}
#icon-selector-example img {
    height: 30px;
}
